@import url('https://fonts.googleapis.com/css?family=Inconsolata:400,700');
@font-face {
  font-family: 'Balkara';
  src: url('fonts/BalkaraFreeCondensed.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
  --light-blue: #91bcdd;
  --grey-blue: #567d99;
  --green: #315c45;
  --dark-green: #264d4d;
  --orange: #6c584c;
  --dark-red: #800022;
  --bg-color: #555;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--dark);
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

ol,
ul,
menu {
  list-style-type: none;
}

.page {
  background: #fff;
  /* font-family: 'Montserrat', sans-serif; */
  font-family: 'Balkara', sans-serif;
  width: 100%;
  min-width: 380px;
  margin: 0 auto;
  font-size: 15px;
}

#header {
  width: 100%;
  height: 130px;
  position: relative;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.5);
}

.header-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 20px 30px;
}

.header-logo {
  width: 220px;
  height: 95px;
}

.logo {
  width: 100%;
  height: 100%;
}

.header-nav {
  width: 80%;
  display: flex;
  justify-content: flex-end;
  align-content: center;
  flex-wrap: wrap;
  text-align: center;
}

.header-menu {
  display: flex;
  text-align: end;
  text-transform: uppercase;
  width: 100%;
}

.menu-item {
  flex-grow: 1;
}

#main {
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  margin-top: -130px;
  padding-top: 130px;
  background-image: url(img/fiord.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.main-container {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.main-title {
  font-size: 8rem;
  color: #fff;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  text-transform: uppercase;
}

/*ABOUT SECTION*/

#about {
  width: 100%;
  height: auto;
  display: flex;
  padding: 30px;
  transition: background-color 0.5s ease;
}

.about-bg-1 {
  background-color: #f0f0f0;
}

.about-bg-2 {
  background-color: #a8d5ba;
}

.about-bg-3 {
  background-color: #e1b12c;
}

.about-bg-4 {
  background-color: #b2b97d;
}

.about-bg-5 {
  background-color: #f7e7ce;
}

.about-cards {
  flex: 2;
}

.about-text {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.about-text-title {
  width: 100%;
  color: #000;
  padding-top: 40px;
  text-align: center;
  position: sticky;
  top: 0;
}

.about-progress {
  display: flex;
  margin-top: 20px;
  position: relative;
  height: 100%;
  justify-content: flex-start;
  padding-bottom: 100px;
}

.progress-container {
  width: 6px;
  border-radius: 5px;
  border: 1px solid rgb(69 85 96);
  position: sticky;
  overflow: hidden;
  top: 100px;
  height: calc(80vh - 100px);
  overflow: hidden;
}

#progress-bar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgb(69 85 96);
  height: 0;
  transition: height 0.3s ease;
}

.scroll-button {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
  padding: 10px 20px;
  background-color: white;
  border: 1px solid rgb(69 85 96);
  border-radius: 50px;
  cursor: pointer;
  position: sticky;
  top: 100px;
}

.about-cards {
  padding-bottom: 40px;
}

.cards {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  display: grid;
  grid-template-rows: repeat(var(--cards-count), var(--card-height));
  gap: 40px 0;
  position: relative;
  padding-bottom: 50px;
}

.card {
  position: sticky;
  top: 0;
  height: var(--card-height);
}

.card-inner {
  height: 100%;
  will-change: transform, filter;
  background: white;
  border-radius: 14px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  box-shadow: 0 25px 50px -12px hsla(265.3, 20%, 10%, 35%);
  transform-origin: center top;
  transition: transform 0.3s ease, filter 0.3s ease;
}

.card-image-container {
  width: 100%;
  overflow: hidden;
  flex: 2;
  max-height: 500px;
  min-height: 200px;
  height: 100%;
}

.card-image-container img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: contain;
  object-position: center;
}

.card-content {
  padding: 20px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.card-title {
  padding-bottom: 10px;
}

.space {
  height: 40px;
}

@media (min-width: 768px) {
  #about {
    flex-direction: row;
  }

  .about-text {
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  .about-cards {
    flex: 2;
    max-width: 900px;
    margin: 0 auto;
  }
}

@media (max-width: 768px) {
  #about {
    flex-direction: column;
  }
  .about-progress {
    display: none;
  }

  .about-cards {
    width: 100%;
    padding: 0 20px;
  }
}

/*PRODUCTS CAROUSEL*/
.carousel {
  width: 100%;
  background-color: #555;
  height: 720px;
  color: #eee;
}
.carousel .list {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
}
.carousel .list .item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.carousel .list .item::before {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--bg-color);
  content: var(--title);
  font-size: 15em;
  font-weight: bold;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #eee4;
  z-index: -1;
}
.carousel .list .item .image {
  flex-shrink: 0;
  width: 300px;
  height: 575px;
  --left: -200px;
  background: var(--img-src) var(--left) 0 / 100% auto no-repeat,
    url(img/bottle.png) no-repeat;
  background-size: 100% auto;
  background-position: center;
  background-blend-mode: multiply;
  -webkit-mask-image: url(img/bottle.png);
  -webkit-mask-size: 100% auto;
  -webkit-mask-position: center;
  -webkit-mask-repeat: no-repeat;
  mask-image: url(img/bottle.png);
  mask-size: 100% auto;
  mask-position: center;
  mask-repeat: no-repeat;
  transition: background 1s ease-in-out;
}

.carousel .list .item .content {
  width: 1140px;
  max-width: 90%;
  margin: auto;
  height: 100%;
  padding-top: 50px;
  box-sizing: border-box;
  display: flex;
  gap: 50px;
  justify-content: space-between;
  align-items: center;
}
.carousel .list .item .info .title {
  font-size: 6em;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1em;
}
.carousel .list .item .info .category {
  opacity: 0.7;
}
.carousel .list .item .info .des {
  margin: 1em 0;
}
.carousel .list .item .info a {
  display: inline-flex;
  gap: 20px;
  text-decoration: none;
  color: #eee;
  font-weight: 500;
}
/* set active item */
.carousel .list .item {
  z-index: 1;
}
.carousel .list .item.active {
  z-index: 2;
}
.carousel .list .item.active .image {
  --left: 0;
}
/* arrows */
.arrows button {
  position: absolute;
  top: 50%;
  z-index: 200;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-family: monospace;
  background-color: #eee3;
  border: none;
  color: #fff;
  font-weight: bold;
  font-size: large;
  cursor: pointer;
  left: 10%;
  transition: background 0.5s, color 0.5s;
}
.arrows button#next {
  left: unset;
  right: 10%;
}
.arrows button:hover {
  background-color: #eee;
  color: #000;
}
.dots li {
  width: 15px;
  height: 15px;
  background-color: #eee5;
  border-radius: 50%;
  cursor: pointer;
}
.dots li.active {
  background-color: #eee;
}
.dots {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 20px;
  position: absolute;
  bottom: 30px;
  z-index: 200;
  width: max-content;
  left: 50%;
  transform: translateX(-50%);
  transition: background 0.5s;
}
.carousel {
  overflow: hidden;
}
/* responsive */
@media (max-width: 767px) {
  .carousel .list .item .info {
    position: absolute;
    bottom: 10%;
    width: 100%;
    padding: 30px;
    box-sizing: border-box;
    text-align: center;
    backdrop-filter: blur(20px);
  }
  .carousel .list .item .info .title {
    font-size: 2em;
  }
  .carousel .list .item .info .des {
    font-size: 0.8em;
    text-align: justify;
  }
  .carousel .list .item .content {
    justify-content: center;
    align-items: start;
  }
  .arrows button {
    top: unset;
    bottom: 20px;
  }
}

/* effect */
@keyframes transformAnimation {
  from {
    transform: translateX(var(--transform-from));
  }
  to {
    transform: translateX(var(--transform-to));
  }
}

.carousel.effect .item .image {
  animation: transformAnimation 1s ease-in-out 1 forwards;
}
.carousel.effect .item .info .title,
.carousel.effect .item .info .category,
.carousel.effect .item .info .des,
.carousel.effect .item .info a {
  animation: transformAnimation 1s ease-in-out 1 forwards;
}
.carousel.effect .item .info .category {
  animation-delay: 0.1s;
}
.carousel.effect .item .info .des {
  animation-delay: 0.2s;
}
.carousel.effect .item .info a {
  animation-delay: 0.3s;
}
.carousel.effect .item.active {
  clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
  animation: animationClipPath 0.9s ease-in-out 1 forwards;
}
@keyframes animationClipPath {
  to {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}

.carousel.effect {
  --transform: 300px;
}
.carousel.effect .item.active {
  --transform-from: calc(var(--transform) * -1);
  --transform-to: 0px;
}
.carousel.effect .item {
  --transform-from: 0;
  --transform-to: var(--transform);
}

#faq {
  min-height: 100vh;
  background-image: url(img/runes.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.question-icon {
  width: 3rem;
}
article {
  background-color: rgb(137 131 118);
  max-width: 40rem;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  position: relative;
  top: 13rem;
  padding: 0 2.4rem 0.6rem 2.4rem;
  gap: 1.8rem;
}
.faqs-head {
  display: flex;
  align-items: center;
  font-size: 2.2rem;
  color: var(--dark-purple);
  gap: 1.4rem;
  margin-top: 2.6rem;
}

.question-container {
  border-bottom: 1px solid blanchedalmond;
  padding-bottom: 1.8rem;
}
.hide-item {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease-in-out;
}
.open-item {
  max-height: 200px;
}
.question-container:last-child {
  border-bottom: none;
}
.question-container p {
  display: block;
  margin-top: 1.8rem;
  line-height: 1.6;
  font-size: 1.1rem;
}
.question-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.question-head h2 {
  font-size: 1.2rem;
  font-weight: 600;
}
.question:hover {
  color: lightcyan;
  cursor: pointer;
}
.icon-open {
  cursor: pointer;
  width: 30px;
}
@media (max-width: 89em) {
  article {
    top: 9rem;
  }
}
@media (max-width: 69em) {
  article {
    top: 3rem;
  }
}
@media (max-width: 44em) {
  article {
    margin-left: 1rem;
    margin-right: 1rem;
  }
  body {
    background-size: 65rem;
  }
  .question {
    margin-right: 2rem;
  }
}
@media (max-width: 24em) {
  .faqs-head {
    font-size: 1.6rem;
    gap: 1rem;
  }
  .star-icon {
    width: 2rem;
  }
  .question-head h2 {
    font-size: 1.1rem;
  }
  .question-container p {
    font-size: 1rem;
  }
  .open-item {
    max-height: 350px;
  }
}
